.slider-container {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.slider-container .slick-slide {
    padding: 0;
    transition: all 0.3s ease;
}

.slider-container .slick-slide img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    outline: none; /* Loại bỏ viền khi nhấp */
    border: none; /* Loại bỏ border */
}

.slider-container .slick-slide img:focus {
    outline: none;
}

.slider-container .slick-center {
    z-index: 10;
}

.slider-container .slick-center img {
    width: 100%;
}
