@import "tailwindcss";



@font-face {
    font-family: "Playfair Display";
    font-weight: bold;
    font-style: normal;
    src: url(./assets/Fonts/PlayfairDisplay-Bold.ttf);
}


@font-face {
    font-family: "Lora";
    font-weight: 400;
    font-style: normal;
    src: url(./assets/Fonts/Lora-Regular.ttf);
}

@theme {
    --color-primary: rgb(230, 220, 200);
    --color-secondary : rgb(20 ,20 ,20);
    --font-primary: "Playfair Display", serif;
    --font-secondary: "Lora", serif;
}
